h1 {
  font-size: 4vmin;
  font-family: 'Aparey', Times, serif;
  color: #004E89;
  margin-bottom: 0;
}

.about {
  grid-column: 2 / span 10;
  color: black;
  margin-top: 2%;
}



.umlogo {
  width: 20%;
  font-size: large;
  text-align: left;
  float: left;
}

.tagline {
  width: 54%;
  text-align: center;
  font-size: large;
  float: left;
  padding-left: 3%;
  padding-right: 3%;
}

.tagline h1 {
  font-size: 5vmin;
  background-color: #004E89;
  color: aliceblue;
  padding: 5px;
  text-transform: uppercase;
}

.tagline h2 {
  margin-bottom: -15px;
  font-size: 4vmin;
}

.tagline h3 {
  font-size: 2.5vmin;
}

.tagline img {
  width: 80%;
}

.tech {
  width: 20%;
  text-align: left;
  float: right;
}

.tech h2 {
  text-align: right;
  line-height: 1.5;
}

.tech>img {
  width: 40%;
}

@media screen and (max-width:900px) {
  .about {
    display: inline;
  }

  .umlogo,
  .tagline,
  .tech {
    float: none;
    width: 90%;
  }
}