.gallery {
	grid-column: 1 / span 12;
	background-color: fff;
	color: #333;
}

.catag {
	font-size: 1em;
	margin: 5px 0 25px;
}

.catag>a {
	background-color: #205F82;
	color: #efefd0;
	padding: 5px;
	border-radius: 5px;
}

.catag>a:hover {
	background-color: black;
}

.date {
	font-size: 13px;
	font-weight: bold;
}

/**/
#projects {
	width: 1250px;
	margin: 30px auto;
}


#projects .flip {
	width: 400px;
	height: 400px;
	display: inline-block;

	-webkit-transform: scale(0.90);
	-moz-transform: scale(0.90);
	-o-transform: scale(0.90);
	-ms-transform: scale(0.90);
	transform: scale(0.90);

	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .2);

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
}

#projects .flip:hover {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);

	-webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
	cursor: pointer;
}

#projects .flip.blur {
	-webkit-filter: blur(3px);

	-webkit-transform: scale(0.88);
	-moz-transform: scale(0.88);
	-o-transform: scale(0.88);
	-ms-transform: scale(0.88);
	transform: scale(0.88);
	filter: alpha(opacity=60);
	opacity: 0.6;
}

#projects .flip.rotate {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#projects:hover .clicked {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.front,
.back {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.front {
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
	width: 360px;
	height: 360px;
	padding: 20px;
	z-index: 1;
	background: #efefd0;
}

/* for small screen */
@media screen and (max-width:900px) {
	#projects {
		width: 850px;
		margin: 15px auto;
	}
}

@media screen and (max-width:600px) {
	#projects {
		width: 550px;
		margin: 15px auto;
	}
}